@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
::-moz-selection {
    background: #fff;
    color: #058888;
    text-shadow: none;
}
::selection {
    background: #058888;
    color: #E39A08;
    text-shadow: none;
}
* {
    outline: 0 !important;
}
a, a:hover {
    text-decoration: none;
}
body {
    background: #ddd;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.index {
    background: #fff;
}
header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffffd9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    height: 80px;
    box-shadow: 0 0 20px 0 #00000066;
}
.logo-min {
    display: none;
}
.nav nav a {
    color: #444444;
    font-size: 1.5vw;
    margin: 0 10px;
}
.nav nav a:hover {
    color: #E39A08;
}
.tel a {
    display: flex;
    align-items: center;
    font-size: 2vw;
    color: #E39A08;
}
.tel a:hover {
    color: #058888;
    text-shadow: 3px 2px 3px rgba(227, 107, 8, 0.55);
}
.tel a svg {
    width: 25px;
    color: #058888;
    margin-right: 5px;
}
.basket a {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    color: #444;
}
.basket a:hover {
    color: #E39A08;
}
.basket a svg {
    width: 40px;
    color: #058888;
    margin-right: 5px;
}
.middle {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 35px 15vw;
}
.navigate {
    margin-bottom: 30px;
}
.a-home {
    color: #444444;
    font-size: 13px;
    font-weight: 500;
}
.a-home:hover {
    color: #E39A08;
}
.a-home svg {
    width: 20px;
    color: #444444;
    position: relative;
    top: 3px;
}
.cart {
    display: flex;
    flex-wrap: wrap;
}
.product {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-bottom: 1px #b7b7b7 solid;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.product-photo-a {
    width: fit-content;
    margin-right: 20px;
}
.product-photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    margin: 0;
    border: 1px solid #fff;
}
.product-photo:hover {
    border: 1px solid #058888;
}
.product-photo-1 {
    background-image: url(../img/bouquets/5.jpg);
}
.product-photo-2 {
    background-image: url(../img/bouquets/11.jpg);
}
.product-info {
    width: -webkit-fill-available;
}
.product-info-name {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.product-info-name h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    color: #058888;
}
.product-info-name h3:hover {
    color: #E39A08;
}
.product-info-name p {
    font-size: 18px;
    margin: 0;
}
.product-info-cost {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.product-info-cost p {
    margin: 5px 0;
    font-size: 12px;
    color: #058789;
}
.select-col {
    position: absolute;
    right: 100px;
}
.select-col .select {
    border: 1px solid #057879;
    height: 21px;
    display: inline-block;
    border-radius: 0px;
    overflow: hidden;
    background: #fff;
    font-size: 11px;
    width: 100%;
    position: relative;
}
.select-col .select:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: #057875 transparent transparent transparent;
    opacity: 1;
    pointer-events: none;
}
.select select {
    padding-left: 10px;
    padding-top: 2px;
    margin-right: 0px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}
.cost-bucket h5{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
a.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #b7b7b7;
    background: #b7b7b7;
}
a.close:hover {
    background: #E39A08;
    border: 1px solid #E39A08;
}
a.close svg {
    width: 15px;
    height: 15px;
    color: #444;
}
.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sum h4 {
    font-size: 16px;
    color: #058688;
    font-weight: 500;
}
.sum h5 {
    font-size: 20px;
    font-weight: 700;
}
.final  {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    position: relative;
    border: 1px solid #E39A08;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    background: #05888800;
    color: #444;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
}
.final:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .4s;
}
.final:hover {
    border-color: #444;
    background: #058888;
    color: #fff;
}
.final:hover:after {
    border-color: #E39A08;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
footer {
    background-color: #EEE;
    padding: 35px 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}
footer svg {
    width: 30px;
    margin-right: 10px;
    color: #058888;
}
footer .map a {
    display: flex;
    align-items: center;
    color: #333;
}
footer .map a:hover {
    color: #E39A08;
}
footer .schedule {
    display: flex;
    align-items: center;
    color: #333;
}
footer .social a svg:hover {
    color: #E39A08 !important;
}
footer .contacts a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #333;
}
footer .contacts a:hover {
    color: #E39A08;
}
@media only screen and (max-width: 1700px) {
    header {
        padding: 0 10vw;
    }
    .middle {
        padding: 10px 10vw;
    }
    footer {
        padding: 35px 10vw;
    }
}
@media only screen and (max-width: 1250px) {
    header {
        padding: 0 5vw;
    }
    .middle {
        padding: 10px 5vw;
    }
    footer {
        padding: 35px 5vw;
    }
}
@media only screen and (max-width: 960px) {
    header {
        height: 60px;
    }
    .logo-full {
        display: none;
    }
    .logo-min {
        display: block;
    }
    .middle {
        margin-top: 60px;
    }
    footer {
        font-size: 1.5vw !important;
    }
}
@media only screen and (max-width: 600px) {
    .nav nav a {
        font-size: 2.5vw;
        margin: 0 15px;
    }
    .tel a span, .basket a span {
        display: none;
    }
    .product-info-name h3 {
        font-size: 20px;
    }
    .product-info-name p {
        font-size: 16px;
    }
    footer {
        flex-wrap: wrap;
        font-size: 3vw !important;
        padding: 10px 5vw;
    }
    footer .map {
        position: relative;
        top: -10px;
    }
    footer .schedule {
        margin-bottom: 20px;
        width: 50%;
    }
    footer .contacts {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    header {
        height: 130px;
        flex-wrap: wrap;
        padding: 10px 5vw;
        width: 90vw;
    }
    .logo {
        width: 20%;
    }
    .nav {
        width: 80%;
    }
    .nav nav {
        display: flex;
        justify-content: space-between;
    }
    .nav nav a {
        font-size: 4.4vw;
        margin: 0;
    }
    .tel a span, .basket a span {
        display: block;
        font-size: 4.5vw;
        color: #E39A08;
    }
    .middle {
        margin-top: 150px;
    }
    .product {
        flex-wrap: wrap;
    }
    .product-photo-a {
        width: 100%;
        margin-right: 0;
    }
    .product-photo {
        margin: auto;
    }
    .product-info-cost {
        justify-content: space-between;
    }
    .select-col {
        position: initial;
    }
    footer {
        font-size: 6vw !important;
    }
    footer .map {
        position: relative;
        top: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    footer .schedule {
        margin-bottom: 20px;
        width: 100%;
    }
    footer .social {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
    }
    footer .social svg{
        width: 50px;
        margin-right: 20px;
    }
    footer .contacts {
        width: 100%;
    }
}